<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.username %>
</p>

<p>
  <strong>type</strong>
  <%= @comment.parent_type %>
</p>

<!-- <p>
  <strong>content :</strong>
  <%= @comment.parent %>
</p> -->

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%#= link_to 'Back', comments_path %>
