<p id="notice"><%= notice %></p>

<h1>Todos</h1>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th>Campaign</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>
        <td><%= todo.user.username %></td>
        <td><%= todo.campaign.title %></td>
        <td><%= link_to 'Show comments',comments_path(:todo_id=>todo.id) if  todo.user.user_type == "Novice" %></td>
        <td><%= link_to 'Show', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) if  todo.user == current_user %></td>
        <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } if  todo.user == current_user %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Todo', new_todo_path(:campaign_id=>params[:campaign_id]) %>
