<!DOCTYPE html>
<html>
  <head>
    <title>Homify</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Homify</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <% if expert_signed_in? %>
            <li> <%= link_to 'Novice Users', novices_path %></li> 
          <%end%>
          <li> <%= link_to 'Campaigns', campaigns_path %></li> 
          <li> <%= link_to 'Contact',"#" %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"> <b><%= current_user.username %> </b></a></li>    
          <% if expert_signed_in? %>
            <li><%= link_to 'Log out', destroy_expert_session_path, method: :delete %></li>
          <%end%>
          <% if novice_signed_in? %>
            <li><%= link_to 'Log out', destroy_novice_session_path, method: :delete %></li>
          <%end%>
        </ul>
      </div>
    </nav>
<!--     <p class="notice"><%= notice %></p> -->
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
